.searchP {
    padding: 20px;
  }
  
  .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


  .card {
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 10px;
  }
